 <!--START CONNECTIONS SECTION-->

     <article id="connect">
      <hr data-aos="fade-up"
      data-aos-duration="2000" style="width: 95%;">
      <h2 data-aos="fade-up"
      data-aos-duration="2000">Connect with Nature</h2>

      <section data-aos="fade-up"
      data-aos-duration="2000" class="pure-g">
        <div class="pure-u-11-24 blog-card">
          <div class="science">
            <h3 id="search">Shark Tracker</h3>
            <div class="featured-img science-1"></div>
            <p data-aos="fade-up"
            data-aos-duration="2000">
            Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
          </p>        
          </div>
        </div>
        <div class="pure-u-11-24 blog-card">
          <div class="science">
            <h3 id="search">Storm Tracker</h3>
            <div class="featured-img science-2"></div>
            <p data-aos="fade-up"
            data-aos-duration="2000">
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
          </p>        
          </div>
        </div>
    </section>
   </article>
    <!--END CONNECTIONS SECTION-->