
{{#if loggedIn}}
{{#each Locations as |card|}}
<div class="pure-u-1-3 beach-card">
        <div class="location">
            <h3 id="search">Tofino</h3>
            <div class="featured-img beach-2"></div>
            <ul data-aos="fade-up"
            data-aos-duration="2000">
                <li>WAVE HEIGHT: <span id="wave">{{card.waveHeight}}</span></li>
                <li>SWELL DIRECTION: <span id="swell">{{card.waveDirection}}</span></li>
                <li>SWELL PERIOD: <span id="period">{{card.wavePeriod}}</span></li>
            </ul>  
            <hr>   
            <label data-aos="fade-up"
            data-aos-duration="2000" for="share">Share Your Experience</label>
            <textarea data-aos="fade-up"
            data-aos-duration="2000" type="text" id="share" name="share"></textarea>
            <hr>   
        <p data-aos="fade-up" quidata-aos-duration="2000" id="trash"><i class="fa-regular fa-trash"></i> REMOVE LOCATION CARD</p>     
        </div>
</div>
{{/each}}
{{/if}}

{{!-- make a button on the card to delete it,
make a button on the card to update description --}}