{{!-- Login page here --}}


     <article id="login">
      <hr data-aos="fade-up"
      data-aos-duration="2000" style="width: 95%;">

      <section data-aos="fade-up"
      data-aos-duration="2000" class="pure-g">
        <div class="pure-u login-card">
          <div class="login">
            <p data-aos="fade-up"
            data-aos-duration="2000">
            <div class="pure-g">
              <div class=" pure-u-11-24">
                <h2>Login</h2>
            
                <form class="form login-form pure-u-11-24">
                  <div class="form-group">
                    <label for="userName-login">user name:</label>
                    <input class="form-input" type="text" id="userName-login" />
                  </div>
                  <div class="form-group">
                    <label for="password-login">password:</label>
                    <input class="form-input" type="password" id="password-login" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">login</button>
                  </div>
                </form>
              </div>
              {{!-- button with href="/signup" --}}
            </div>
            
            <script src="./js/login.js"></script>
            
          </p>        
          </div>
        </div>
    </section>
   </article>
 