main.login-bg, main.signup-bg{
    padding-top: 200px;
    padding-bottom: 150px;
}
form {
    min-height: 300px;
    display: block;
}
.login {
    border: solid #446e8e 1px;
    padding: 15px;;
    background-color: rgba(255,255,255,.9);
    border-top-right-radius: 10px;
}

.login-bg {
    background-image: url(../images/surfing-13.jpg);
    background-position: center;
    background-size: cover;
}

.signup-bg {
    background-image: url(../images/surfing-12.jpg);
    background-position: top-center;
    background-size: cover;
    background-repeat: no-repeat;
}
.four-zero-four-bg {
    background-image: url(../images/storm.jpg);
    background-position: top-center;
    background-size: cover;
    background-repeat: no-repeat;
}